/* 移除瀏覽器預設樣式，確保全螢幕顯示 */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    font-family: sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: url(img/base.jpg);
    
    /* 定義子容器置中 */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 建立一個 3D 空間 */
.scene {
    
    position:relative; 
    overflow: clip;

    width: 2000px;
    height: 2000px;
    
    /* 定義子容器置中 */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 地圖上放置的桌椅等物件 */
.area-item {
    /* 讓圖片縮放以完全覆蓋容器，同時保持長寬比 */
    background-size: cover; 
    /* 確保圖片從容器的中央開始對齊 */
    background-position: center;
    
    text-align: center ;
}

/* 角度控制面板 */
#controls {
    display: none;

    background-color:#fff5; 
    position:absolute; 
    left:10px; 
    top:50px; 
    padding: 20px; 
    border: 1px solid #ccc;
    z-index: 999;
}

/* 負責 3D 旋轉的容器 */
#map-container {
    width: 1600px;
    height: 1250px;
    background-image: url(img/map_work_area.png);
    transform-origin: 50% 50%;
    position: relative;

    /* 讓子元素處於同一 3D 空間 */
    transform-style: preserve-3d;
    
    /* 讓圖片縮放以完全覆蓋容器，同時保持長寬比 */
    background-size: cover; 
    
    /* 確保圖片從容器的中央開始對齊 */
    background-position: center;
}


/* 地圖上的場地元素 */
.venue-element {
    position: absolute;
    text-align: center;
    transform-origin: 50% 100%;
    z-index: 10;
}

/* 文字告示牌 */
.sign {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
    padding: 10px;
}

/* 角色圖大小 */
.playerbackground {
    width: 90px;
    height: 90px;
    background-size: contain;
}
#Midoriya > .playerbackground {
    background-image: url(img/player/Midoriya.gif);
}
#Bakugo > .playerbackground {
    background-image: url(img/player/Bakugo.gif);
}



/* XYZ 軸的通用樣式 */
.axis {
    position: absolute; /* 相對於 #map-container 定位 */
    top: 50%;
    left: 50%;
    transform-origin: 0 0; /* 讓旋轉從軸線的起點開始 */
}

.x-axis {
    width: 200px;
    height: 3px;
    background-color: red;
    transform: translateX(0) translateY(-1.5px) translateZ(0); 
}

.y-axis {
    width: 3px;
    height: 200px;
    background-color: green;
    transform: translateX(0) translateY(-100%) translateZ(0) 
}

.z-axis {
    width: 200px;
    height: 3px;
    background-color: blue;
    transform: translateX(0) translateY(0) translateZ(-1.5px) rotateY(-90deg);
}







/* 往返路徑
@keyframes MidoriyaPath {
    0%    {left: 60%;top: 30%;}
    25%   {left: 60%;top: 10%;}
    50%   {left: 30%;top: 10%;}
    75%   {left: 30%;top: 50%;}
    100%  {left: 40%;top: 50%;}
}

#Midoriya {
    animation-name: MidoriyaPath;
    animation-duration: 10s;       
    animation-timing-function: linear; 
    animation-iteration-count: infinite; 
    animation-direction: alternate;    
    
}

#Bakugo, #Midoriya, #heart {
    border: solid black 1px;
}
 */